.coverage
*,cover
/develop-eggs
/eggs
/fake-eggs
/bin
/local
/parts
/downloads
/var
/build
/dist
/local.cfg
/*.egg-info
/.installed.cfg
*.pyc
/.Python
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
/src/*
/robot_*
/test_*
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
library-settings.txt
pip-selfcheck.json
venv
