language: python
python: "2.7"
before_install:
  - pip install http://effbot.org/downloads/Imaging-1.1.6.tar.gz
install:
  - mkdir -p buildout-cache/eggs
  - mkdir -p buildout-cache/downloads
  - python bootstrap.py -c travis.cfg
  - bin/buildout -N -t 3 -c travis.cfg
script: bin/test

