[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.2.x.cfg
extensions = mr.developer
auto-checkout =
#    Products.CMFPlone
    plone.app.collection
package-name = plone.app.contenttypes
package-directory = plone/app/contenttypes

parts +=
    omelette
    test
    releaser
    zopepy

#develop = .
versions = versions

[versions]
collective.xmltestreport = 1.2.4
plone.app.registry = 1.2a1
plone.supermodel = 1.1.1
Products.SecureMailHost = 1.1.2

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${instance:location}/lib/python ./

[test]
recipe = collective.xmltestreport
eggs = ${buildout:package-name} [test]
defaults = ['--auto-color', '--auto-progress']

[releaser]
recipe = zc.recipe.egg
eggs = jarn.mkrelease

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sources]
Products.CMFPlone = git https://github.com/plone/Products.CMFPlone.git branch=plip-12344-plone.app.contenttypes
plone.app.collection = git https://github.com/plone/plone.app.collection.git

