include *.rst
include pyproject.toml

graft docs
graft plone

global-exclude *.pyc

recursive-exclude news *
exclude news

include requirements.txt
include constraints.txt
include *.yaml
include Makefile
exclude *-mxdev.txt
